.explore-all-similar-movies-section{
    padding-top: 90px;
}
.explore-all-similar-movies-poster{
    width: 100%;
    border-radius: 8px;
}


@media (max-width: 575.98px) {
    .mobile-all-similar-movie-details{
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
        background-color: rgb(20, 20, 20);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .mobile-all-similar-movie-details .movie-title{
        font-size: 18px;
        color: #fff;
    }
    .explore-all-similar-movies-main-wrapper .explore-all-similar-movies-poster{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .explore-all-similar-movies-main-wrapper a{
        text-decoration: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .explore-all-similar-movies-main-wrapper{
        width: 50%;
    }
    .mobile-all-similar-movie-details{
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
        background-color: rgb(20, 20, 20);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .mobile-all-similar-movie-details .movie-title{
        font-size: 18px;
        color: #fff;
    }
    .explore-all-similar-movies-main-wrapper .explore-all-similar-movies-poster{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .explore-all-similar-movies-main-wrapper a{
        text-decoration: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .explore-all-similar-movies-main-wrapper{
        width: 33%;
    }
    .mobile-all-similar-movie-details{
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
        background-color: rgb(20, 20, 20);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .mobile-all-similar-movie-details .movie-title{
        font-size: 18px;
        color: #fff;
    }
    .explore-all-similar-movies-main-wrapper .explore-all-similar-movies-poster{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .explore-all-similar-movies-main-wrapper a{
        text-decoration: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .explore-all-similar-movies-main-wrapper{
        width: 25%;
    }
}