.explore-all-crime-movies-section{
    padding-top: 90px;
}
.explore-all-crime-movies-section a{
    text-decoration: none;
}
.explore-all-crime-movies-section .all-crime-movies-images{
    width: 100%;
    border-radius: 8px;
}
.explore-all-crime-movies-section .all-crime-movies-images-wrapper:hover .all-crime-movies-images{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.explore-all-crime-movies-section .all-crime-movies-images-wrapper:hover{
    transform: scale(1.5);
}
.explore-all-crime-movies-section .all-crime-movies-images-wrapper .all-crime-movie-details{
    opacity: 0;
    display: none;
}
.explore-all-crime-movies-section .all-crime-movies-images-wrapper:hover .all-crime-movie-details{
    opacity: 1;
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    background-color: rgb(20, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.mobile-all-crime-movie-details{
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    background-color: rgb(20, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.mobile-all-crime-movie-details .movie-title{
    font-size: 18px;
    color: #fff;
}
.explore-all-crime-movies-section .all-crime-movies-images-wrapper .all-crime-movie-details .movie-title{
    color: #fff;
    font-size: 11px;
}


@media (max-width: 575.98px) {
    .explore-all-crime-movies-section .all-crime-movies-images-wrapper:hover{
        transform: unset;
    }
    .explore-all-crime-movies-section .all-crime-movies-images{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}